@font-face {
  font-family: "iconfont"; /* Project id 4115391 */
  src: url('iconfont.woff2?t=1686664281302') format('woff2'),
       url('iconfont.woff?t=1686664281302') format('woff'),
       url('iconfont.ttf?t=1686664281302') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flag1:before {
  content: "\e92d";
}

.icon-flag_fill:before {
  content: "\e6fb";
}

.icon-wodeokr:before {
  content: "\e604";
}

.icon-flag:before {
  content: "\e692";
}

.icon-calendar:before {
  content: "\e839";
}

.icon-down:before {
  content: "\e83a";
}

.icon-left:before {
  content: "\e83d";
}

.icon-conditions:before {
  content: "\e84f";
}

